fieldset {
    margin: 0;
}

#content {
    width: 700px;
    padding: 13px 20px 5px;
}

input[type="text"][disabled],input[type="password"][disabled],select[disabled] {
    -webkit-text-fill-color: #B6AD84;
}
