<?xml version="1.0" encoding="UTF-8"?>
<!-- Use this definition if using a Java EE 6 container This also stops Eclipse 
	from complaining that 3.0 is not a valid version <web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" 
	http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>integrationTest</display-name>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>classpath:/pluto-services.xml</param-value>
	</context-param>
	<listener>
	   <listener-class>org.apache.pluto.driver.PortalStartupListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	
<filter>
	  <filter-name>plutoResourceFilter</filter-name>
	  <filter-class>org.jboss.portletbridge.test.PlutoResourceFilter</filter-class>
  </filter>
    <filter>
        <filter-name>fakeUserPrincipalFilter</filter-name>
        <filter-class>org.jboss.portletbridge.test.FakeUserPrincipalFilter</filter-class>
    </filter>

   <filter-mapping>
		<filter-name>plutoResourceFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>plutoResourceFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>plutoResourceFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>plutoResourceFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>fakeUserPrincipalFilter</filter-name>
		<url-pattern>/portal/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>plutoPortalDriver</servlet-name>
        <servlet-class>org.apache.pluto.driver.PortalDriverServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
     <servlet-mapping>
        <servlet-name>plutoPortalDriver</servlet-name>
        <url-pattern>/portal/*</url-pattern>
    </servlet-mapping>
<!-- The container taglibs that invoke our portlet in the portlet container -->
<jsp-config>
  <taglib>
    <taglib-uri>http://portals.apache.org/pluto</taglib-uri>
    <taglib-location>/WEB-INF/tld/pluto.tld</taglib-location>
  </taglib>
</jsp-config>
</web-app>